Use icalendar package in iCalendar generation

Currently, `talk_series/ics-gen.py` generates an iCalendar file by manual effort.  Although most iCalendar implementations will probably read this with no problems, it technically isn't robust to things like character escapement as specified in [RFC5545, §3.3.11](http://tools.ietf.org/html/rfc5545#section-3.3.11).

We should use a Python library for the iCalendar format, such as the aptly named [`icalendar` package](https://pypi.python.org/pypi/icalendar), to generate the iCalendar file in a more robust way.
